{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.component.html",
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": "*.ts",
            "options": {
                "singleQuote": true,
                "trailingComma": "all"
            }
        }
    ]
}
